body {
  background-image: url('../Bilder/Hintergrund.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  /*background-attachment: fixed;*/
  background-color: #f0e3c6;
  color: #2b2414;
}

body a {
  color: #690500;
}

.jumbotron {
  background: none;
  color: #2b2414;
}

nav {
  background-color: #2b2414;
  color: #f0e3c6;
}

nav a {
    color: #56a3a6;
}

header {
  border: 5px solid #2b2414;
  background-color: #2b2414;
  color: #a78314;
  border-radius: 15px;
}

header, h1, h2 {
  text-align: center;
}


.beige {
  background-color: rgba(240, 227, 198,0.6);
  border-radius: 25px;
  padding: 5px;
}

.senf {
  background-color: #a78314;
}

/*
Cores
  #f0e3c6 Bege clarinho em decimal fica: 240, 227, 198
  #2b2414 Marrom escuro
  #a78314 Mostarda;
  #2e0f15 Sienna Escuro
  #690500 Sienna
  #57737a Chumbo

  #56a3a6 Azul pscina fosco;
*/
