{% extends "Basis.html" %}

{% block Titel %}Minha Conta{% endblock %}

{% block Inhalt %}
<header>
  <h2>Painel de Conta de Usuário</h2>
</header>
<article class="row">
    <div class="col-md-4">
        <div class="list-group">
          <a href="{% url 'Zugriff:index' %}" class="list-group-item active">Minha Conta</a>
          <a href="{% url 'Zugriff:andernBenutzer' %}" class="list-group-item">Alterar Dados Cadastrais</a>
          <a href="{% url 'Zugriff:andernPasswort' %}" class="list-group-item">Alterar Senha</a>
        </div>
    </div>
    <div class="col-md-8">
        {% block Zugriff_Inhalt %}

      {% endblock %}
    </div>
</article>
{% endblock %}
