{% extends "Wortschatz/index.html" %}

{% block Titel %}{{ block.super }} - Wocabulário{% endblock %}

{% block Wortschatz_Inhalt %}
<header>
  <h3>Vocabulário</h3>
</header>
<section class="">
  {% if object_list %}
    <header class="row">
      <div class="col-1 btn">
        <a href="{% url 'Wortschatz:neuesWortschatz' %}" class="">+</a>
      </div>
      <div class="col-3">
        <b>Vocábulo</b>
      </div>
      <div class="col-3">
        <b>Tradução</b>
      </div>
      <div class="col-4">
        <b>Imagem</b>
      </div>
      <div class="col-1">
      </div>
    </header>
    {% for Wort in object_list %}
      <div class="row">
        <div class="col-1 bnt">
          <a href="{% url 'Wortschatz:andernWortschatz' Wort.pk %}">A</a>
        </div>
        <div class="col-3">
          <a href=" {% url 'Wortschatz:Wortschatz' Wort.pk %} ">{{ Wort.wort }}</a>
        </div>
        <div class="col-3">
          {{ Wort.ubersetzung }}
        </div>
        <picture class="col-4">
          {% if Wort.bild %}<img src="{{Wort.bild.url}}" alt="Wort.wort" style="max-width:100px;">{% endif %}
        </picture>
        <div class="col-1">
          <a href="{% url 'Wortschatz:Wortschatzloschen' Wort.pk %}">X</a>
        </div>
      </div>
    {% endfor %}
  {% endif %}

</section>

{% endblock %}
